
/* Drupal only added */
table {
  width:100%;
  margin:10px 0;
}

th {
  font-size:1.4em;
  line-height:1.65;
  margin:0 0 1.4em;
}

td {
  font-size:1.2em;
  line-height:1.4;
}

tr.even {
  background-color:#F1F1F1;
}

tr.odd  {
  background-color:#F9F9F9;
}

.breadcrumb {
   padding-bottom:1.5em;
}

#tabs {
  padding:20px 0;
}

#header {
  background:url("") repeat scroll 0 0 transparent;
  height:132px;
}

#header a {
  color:#21759B;
}

#user-login-form {
  text-align:left;
}

input {
  border-color:#999 #DDD #DDD #999;
  border-left:1px solid #999;
  border-style:solid;
  border-width:1px;
  color:#444;
  font-family:Georgia,"Times New Roman",serif;
}

.book-navigation {
  margin:0 0 30px;
}

.form-submit, .teaser-button {
  -moz-border-radius:3px 3px 3px 3px;
  background:url("images/bg-button.png") repeat-x scroll 0 50% #21759B;
  border:0 none;
  color:#FFFFFF;
  cursor:pointer;
  font-family:Georgia,"Times New Roman",serif;
  font-weight:bold;
  padding:2px 5px;
  width:auto;
}

.form-submit:hover, .teaser-button:hover {
  background-color: #1F536C;
  text-decoration: none;
}

#nav {
  overflow:hidden;
}

#search-theme-form input {
  width: 90%;
  padding: 6px;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.3em;
  border-left: 1px solid #999;
  border-top: 1px solid #999;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #444;
  background:#FFF;
}

.admin-list, .node-type-list, .status, .compact-link, .standard, .poll, .warning { /*dl,*/
  font-size:1.4em;
  line-height:1.65;
  margin:0 0 1.4em;
}

.form-item {
  color:#333333;
  font-size:1.3em;
  line-height:1.4;
}

thead  th, .messages {
  border:1px solid #AD9356;
  padding:5px;
  background:#FEF7E3 !important;
}


#content .post-comments{
  color:#21759B;
  font-size:2.8em;
  font-weight:normal;
  margin-bottom:1em;
}

#forum h2 {
  color:#21759B;
  font-size:2.8em;
  font-weight:normal;
  margin-bottom:1em;
}

.post .more-link {
  float:left;
  font-size:1.4em;
  line-height:1.65;
  margin:-1.4em 0 1.4em;
}

.links, .post .post-meta a{
  font-size:1.1em;
  font-family:"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
  font-size:1.1em;
  line-height:1.5;
}

.comment-links {
  text-align:right;
}

.comment-avatar a, .comment .comment {
  border:0 none;
} 

.comment-meta .links {display:inline; padding:0; margin:0;}

#comment-controls, #comment-controls-1 {
  margin:0 0 3em;
}

.admin {
  font-size:1.2em;
}
